@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

.trashCanDiv {
  width: 29vw;
  border-radius: 24px;
  position: absolute;
  margin-left: 69vw;
  background-color: white;
  margin-top: 72px;
  z-index: 100;
}
.image {
  width: 52px;
  height: 52px;
}
.itemDiv {
  width: 26.6vw;
  height: 84px;
  padding-top: 8px;
  padding-left: 24px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f2f2f2;
  justify-content: space-between;
}
.pictureTitle {
  width: 144px;
  height: 20px;
  overflow: hidden;
  font-family: Nunito;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  margin-left: 16px;
}
.quantityDiv {
  width: 156px;
  height: 52px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 16px;
  font-family: Nunito;
  font-size: 28px;
  font-weight: 700;
  line-height: 32px;
  text-align: left;
}
.minus {
  width: 52px;
  height: 52px;
  border-radius: 12px 0 0 12px;
  background: #e6f1fc;
  color: #0073e6;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.plus {
  width: 52px;
  height: 52px;
  border-radius: 0 12px 12px 0;
  background: #e6f1fc;
  color: #0073e6;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.quantityP {
  width: 52px;
  height: 52px;
  background: #e6f1fc;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Nunito;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
}
.MainSum {
  width: 112px;
  height: 24px;
  font-family: Nunito;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: right;
  margin: 0px;
}
.MainSumDiv {
  width: 112px;
  height: 40px;
}
.singlePrice {
  margin: 0px;
  font-family: Nunito;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: right;
}
.Itogo {
  height: 48px;
  margin: 0 24px 16px 24px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.costItog {
  font-family: Nunito;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  margin: 0px;
}
.sumItog {
  height: 32px;
  font-family: Nunito;
  font-size: 28px;
  font-weight: 800;
  line-height: 32px;
  text-align: right;
  margin: 0px;
}
.zakaz {
  width: 26.6vw;
  height: 36px;
  padding: 16px 0px 0px 0px;
  border-radius: 12px;
  background: #0073e6;
  color: #ffffff;
  font-family: Nunito;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  margin-left: 24px;
  margin-bottom: 24px;
  cursor: pointer;
}
.tooMuch {
  font-family: Nunito;
  font-size: 28px;
  font-weight: 800;
  line-height: 32px;
  margin-left: 24px;
  padding-bottom: 20px;
}
@media (max-width: 1440px) {
  .pictureTitle {
    display: none;
  }
  .itemDiv {
    width: 26.6vw;
  }
  .singlePrice {
    text-align: left;
  }
  .MainSum {
    text-align: left;
  }
}
@media (max-width: 1024px) {
  .Itogo {
    margin-left: 10px;
  }
  .zakaz {
    margin-left: 10px;
  }
  .itemDiv {
    flex-wrap: wrap;
    height: 100px;
  }
  .quantityDiv {
    margin-right: 8px;
    margin-left: 0px;
  }
}
@media (max-width: 768px) {
  .itemDiv {
    height: 160px;
  }
}
@media (max-width: 425px) {
  .trashCanDiv {
    width: 40vw;
    margin-left: 56vw;
  }
  .sumItog {
    font-family: Nunito;
    font-size: 20px;
    font-weight: 800;
    line-height: 32px;
    text-align: right;
    position: relative;
    top: 3px;
  }
  .zakaz {
    width: 35vw;
  }
  .quantityDiv {
    width: 30vw;
  }
}
